

header{ /*Todo header é igual.*/
    background-color: var(--cor-verde-header);
    text-align: center;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
}

.if-logo {
    width: max(3%, 2%);
    position:absolute;
}


.header-sigaa {
    margin:0;
    padding: 0.8vh 0 0 0;
}

body {
    margin:0;
}