@import url(../../padrao.css);

body {
    margin: 0px;
    flex-direction: column;
}

nav{
    height:auto;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    justify-content: space-between;
    display:flex;
    text-align: center;
}
.section-selected {
    background-color: var(--cor-verde-header);
    width: 20%;
    margin-left:3%;
    margin-right:3%;
    padding: 0.5% 0 0.5% 0;

}

.section {
    background-color: var(--cor-verde-acizentado);
    transition: 0.6s;

    width: 20%;
    margin-left:3%;
    margin-right:3%;
    padding: 0.5% 0 0.5% 0;
    
}

.section:hover {
    background-color: var(--cor-verde-destaque);
    transition: 0.5s;
}


footer {
    background-color:var(--cor-verde-header);
    height:auto;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    display:flex;
}


.footer-section{
    display:inline-block;
    padding: 1vw 3vh;
    
}

.footer-section h3{
    margin:0px;
    background-color:var(--cor-verde-acizentado);
    border-radius: 10px;
    padding: min(2vh, 10vh) 10vw;
    transition: 0.5s;
}

.footer-section h3:hover{
    background-color:var(--cor-verde-destaque);
}

.hidden::before {
    display:none;
}


.hidden::after {
    display:flex;
}


#container {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    height:40vh;
    width: 30vw;
    background-color: var(--cor-verde-acizentado);
    border-radius: 10px;
}

#login {
    position: relative;
    width: 100%;
    height: 50vh;
    align-items:center;
    display:flex;
    flex-direction: column;
    top:5vh;
    
}

.forms {
    color:black;
}

.form-size{
    position: relative;
    padding: 1vh 8vw;
    border-radius: 10px;
    border:0px;
    
}

#entrar {
    position: relative;
    padding: 1vh 12vw;
    border-radius: 10px;
    border:0px;
    background-color: var(--cor-verde-destaque);
    cursor:pointer;
}

#ncadastro {
    background-color: transparent;
    border: 0px transparent;
    cursor: pointer;
    font-size: 16px;
}