@import url(padrao.css);

:root{
--azul-slider: #195FC8;
}

    /* Apply general styling */
    #content-left, #content-mid, #content-right {
        display: inline-block; /* Align elements horizontally */
        vertical-align: top; /* Align elements to the top */
        padding: 0 10px; /* Add some padding for spacing */
        box-sizing: border-box; /* Include padding and border in the element's width */
    }

    /* Set specific widths for each section */
    #content-left {
        width: 25%; /* Occupies 25% of the screen */
    }

    #content-mid {
        width: 50%; /* Occupies 50% of the screen */
    }

    #content-right {
        width: 24%; /* Occupies 25% of the screen */
        justify-content: right;
    }

    #noticias-avaliacoes {
        display:flex;
        gap: 10%;
    }

    /* Optional styling */
    #content-full {
        display: flex;
        justify-content: center; /* Center the content */
    }

#nome-materia {
    display:flex;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    text-align: center;

    padding:0 1% 0.5%;
    margin: auto;
}

#nome-materia h2 {
    background-color: var(--cor-verde-header);
    height: fit-content;
    border-radius: 0 0 10px 10px;
    width: 18vw;
    max-height: min-content;
    padding: 2vh 0 2vh;
    margin: 0;
}

#menu-burger-config {

    display: grid;

    column-gap: 0.5vw;
    justify-items: stretch;
    align-items: stretch;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;

}

.menu-burger {
    cursor: pointer;
    background-color: var(--cor-cinza-padrao);
    border-radius: 10px;
    margin: var(--m-size) 0;

    height: 6vh;

    align-content: center;
    justify-items: center;
    text-align: center;

    color: var(--cor-verde-destaque);
    font-weight: 600;
    font-size: var(--titulo-text);

    transition: all 0.2s ease-in-out;
}

.menu-burger[class~="side"] {
    width: 50%;
}

/* Navbar acabou */

.info-items {
    background-color: var(--cor-cinza-padrao);
    border-radius: 10px;
    margin: var(--m-size) 0;

    height: 6vh;

    align-content: center;
    justify-items: center;
    text-align: center;

    color: var(--cor-preto-padrao);
    font-weight: 600;
    font-size: var(--m-size);

    transition: all 0.2s ease-in-out;
}

.botao-manual {
    background-color: var(--cor-verde-acizentado);
    border-radius: 10px;
    margin: auto;
    width: 23vh;
    height: 6vh;
    cursor: pointer;

    align-content: center;
    justify-items: center;
    text-align: center;

    color: var(--cor-branco-padrao);
    font-weight: 600;
    font-size: var(--titulo-text);

    transition: all 0.2s ease-in-out;
}

#andamento-aula{

    background-color: var(--cor-cinza-padrao);
    display:grid;
    margin:10px auto; /* AQUI Ó*/
    width: 18vw;

    align-items: center;
    text-align: center;
    justify-items: center;

    border-radius: 10px;
    
}

#andamento-aula h3 {
    width: 95%;
    background-color: var(--cor-verde-destaque);
    margin: 0;
    padding: var(--m-size) var(--xs-size);
    border-radius: 10px;
}

#andamento-aula p {
    color: var(--cor-preto-padrao);
    margin-top: var(--m-size);
    margin-bottom: 0;
}

#andamento-aula > p + p + p:last-child {
    margin-bottom: var(--m-size);
}

#andamento-aula > h3 + p {
    margin-bottom: var(--xs-size);
}

/* Slider */

#slider-percent {    
    width: 80%;
    height: 3vh;
    background-color: var(--cor-preto-padrao);
    border-radius: 10px;
    
}

#slider-atual p {
    margin: 0;
    color:var(--cor-branco-padrao);
    font-weight: 600;
}

#slider-atual {
    width: 55%;
    height: 100%;
    background-color: var(--azul-slider);
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}


/* Botoes topo Navbar */
.selected {
    background-color: var(--cor-verde-header);
    color: var(--cor-branco-padrao);
}

#body-aula {
    display: flex;
    width: 100%;
    height: max-content;
    justify-content: space-between;
}

.container-aula {
    width: 98%;
    padding: 1%;
    border-radius: 10px;
    /* margin: 1%; */
    height: fit-content;

}

.container-aula h3 {
    font-size: var(--xxm-size);
    margin: 1% 0;
}

.ultima-noticia {
    background-color: var(--cor-verde-destaque);
    margin-top: var(--m-size);
}

.ultima-aula {
    background-color: var(--cor-cinza-padrao);
    color: var(--cor-preto-padrao);
    float: right;
    
}

.local-download {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
    gap: 1%;
}

.downloadable {
    cursor: pointer;
    margin: 1% 0;
    display: flex;
    background-color: white;
    
    font-weight: 600;
    font-size: var(--normal-text);
    width: fit-content;
    justify-content: space-between;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: underline;
}

.aula-anterior {
    color: var(--cor-branco-padrao);
    background-color: var(--cor-verde-header);
    font-weight: bolder;
    cursor: pointer;
}

.aula-anterior:hover {
    background-color: var(--cor-verde-destaque);
    color: var(--cor-branco-padrao)
}

.nao-aula {
    color: red;
}

.config-perfil {
    max-width: 3vw;
    height: auto;
    margin-right: 2vw;
}

footer#rodape {
    position: absolute;
    bottom: 0;
}

#trocar-disciplina {
    display: flex;
    background-color: var(--cor-verde-acizentado);
    border-radius: 10px;
    margin-right: 2%;
    right: 0;
    position: relative;
    cursor: pointer;
}

.right {
    position: absolute;
    right: 0;
    justify-content: right;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
