@import url(padrao.css);

body {
    margin: 0px;
    flex-direction: column;
    display: flex;
}

a {
    text-decoration: underline;
    color: var(--cor-branco-padrao);
}

nav, header, #portal-publico, #container {
    z-index: 1;
}

nav{
    height:auto;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    justify-content: space-between;
    display:flex;
    text-align: center;
}
.section.selected {
    background-color: var(--cor-verde-header);
    width: 20%;
    margin-left:3%;
    margin-right:3%;
    padding: 0.5% 0 0.5% 0;
    text-decoration: underline;
}

.section{
    background-color: var(--cor-verde-acizentado);
    transition: 0.6s;
    width: 20%;
    margin-left:3%;
    margin-right:3%;
    padding: 0.5% 0 0.5% 0;
    border-radius: 0 0 10px 10px;
    cursor:pointer;   
}


.section a, .section u {
    text-decoration: none;
}


.cadastro {
    height:auto;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    bottom: 0;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4vh 1fr;
    column-gap: 2vw;
}

footer#rodape {
    position: absolute;
    bottom: 0;
}


.cadastro h2 {
    padding: 2vh 0;
    grid-column: 2;
    text-align: center;
    color: var(--cor-preto-padrao);
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
}

.footer-section{
    display:inline-block;
    /* padding: 1vw 1vh; */
    grid-row: 2;
    padding: 2vh 0;
}

.footer-section h3{
    margin:0px;
    background-color:var(--cor-verde-acizentado);
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
    padding: 2vh 0;
}

.hidden {
    display:none;
}


.hidden::after {
    display:flex;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#container {
    position: relative;
    height:40vh;
    width: 30vw;
    background-color: var(--cor-verde-acizentado);
    border-radius: 10px;
    margin: 10vh 0;
}

#login {
    position: relative;
    width: 100%;
    height: 50vh;
    align-items:center;
    display:flex;
    flex-direction: column;
    top:5vh;
    
}

.forms {
    color:black;
}

.form-size{
    position: relative;
    /* padding: 1vh 8vw; */
    width: 24vw;
    height: 4vh;
    border-radius: 10px;
    border:0px;
    box-sizing:border-box;
}


#entrar {
    position: relative;
    border-radius: 10px;
    border:0px;
    background-color: var(--cor-verde-destaque);
    cursor:pointer;
}

#ncadastro {
    background-color: transparent;
    border: 0px transparent;
    cursor: pointer;
    font-size: 16px;
    text-decoration: underline;
}

#portal-publico {
    color: var(--cor-branco-padrao);
    background-color: var(--cor-verde-acizentado);
    display: flex;
    border-radius: 10px;
    width: fit-content;
    padding: 0 1vw;
    position: relative;
    height: fit-content;

    justify-self: center;
}



/* IMAGENS DE FUNDO! */

#imagens-fundo {
    opacity: 50%;
    position: absolute;
    width: 100vw;
    height: 90%;
    display: flex;
    flex-direction: column-reverse;
    gap: 10vh;
    z-index: 0;
    /* flex-wrap: wrap; */
}

.img-fundo {
    margin-left: 5.5vw;
    opacity: 0.5;
    transition: 1s;
}





/* Reatividade */

@media (max-width: 1600px) {
    .layer:nth-of-type(3) {
        display: none;
    }
}
@media (max-width: 400px) {
    .layer:nth-of-type(2) {
        display: none;
    }
}