:root{
    /* Tamanho Inicio */

    --xxs-size: 0.25em; /*4px*/
    --xs-size: 0.50em; /*8px*/
    --s-size: 0.75em; /*12px*/
    --m-size: 1em; /*16px*/
    --xm-size: 1.25em; /*20px*/
    --xxm-size: 1.50em; /*24px*/

    /* Maior espaçamento */
    --l-size: 2.5em; /*40px*/
    --xl-size: 3.75em; /*60px*/

    /* Tamanho Fim */
}




* {/* Todos as coisas estão com borda em baixo, e com a fonte Open sans, como deve ser */
    font-family: "Open Sans", sans-serif;
    
}

body {
    color: var(--cor-branco-padrao);
    border-radius: 0 0 10px 10px;
}

main {
    min-height: 100vh;
    display: block;
    unicode-bidi: isolate;
}

a{
    text-decoration: underline;
}
.text-centered {
    text-align: center;
}

/* Parte Header do IFC */



header{ /*Todo header é igual.*/
    background-color: var(--cor-verde-header);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 100%;
    min-height: fit-content;
}

table {
    width: 100%;
    height: 2vh;
    position: absolute;
    min-height: fit-content;
}

#if-logo {
    position:absolute;
    left:1vw;
    align-self: center;
    z-index: 2;
}

#if-logo img {
    width: 4vh;
}

footer#rodape {
    padding: 1vh 0;
    display: flex;
    font-size: var(--normal-text);
    width: 100%;
    background-color: var(--cor-verde-header);
    height: fit-content;
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer#rodape p {
    margin: 0;
}

.header-sigaa-h1 {
    margin:0;
    padding: 0.5vh 0 0 0;
    font-size: 2rem;

}

.header-sigaa-h3 {
    margin:0;
    font-size: 0.75rem;

}


body {
    margin:0;
}


/* Fim header IFC */


@media (min-width: 1280px){
    :root{
        font-size: 16px;
        --titulo-text: 16px;
        --normal-text: 12px;
    }
}

@media (max-width: 1280px){
    :root{
    font-size: 12px;
    --titulo-text: 12px;
    --normal-text: 10px;
}}

@media (max-width: 600px){
    :root{
    font-size: 16px;
    --titulo-text: 20px;
    --normal-text: 16px;
    }
    footer#rodape {
        width: 98vw;
    }


}

@media (max-width: 380px) {
    :root{
        font-size: 14px;
    --titulo-text: 16px;
    --normal-text: 14px;
    }
    header{
        height: 10vh;
    }
}