@import url(padrao.css);




header {
    margin-bottom: 2vh;
}

#main-content {
    float: left;
    width: 75%;
}

#side-menu {
    /* float: right; */
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 6.3%;
}

/* Perfil estudante */
/* Segmentos Perfil estudante */
.segmentos-perfil-estudante {
    display:inline-flex;
}

/* Ai meu deus o css é muito estranho, no 3° segmneto q só tem link é tudo estranho usando inline-flex, por isso vai virar block */

.segmentos-perfil-estudante:nth-of-type(3) {
    text-align: center;
    padding: var(--m-size) 0;
}

/* Segmentos Perfil Fim */

#perfil-estudante {
    
    right: 1%;
    z-index: 1;
    display:flex;
    flex-direction: column;
    padding: var(--s-size);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: var(--titulo-text);
    margin: 10px;
    row-gap: 5vh;
}


.dados-institucionais-aluno-dados {
    background-color: var(--cor-verde-header);
    list-style-type: none;
    width: fit-content;
    padding: 1rem;
    border-radius:10px;
    /* user-select: none; */
}   

.dados-institucionais-aluno-imagem {
    align-items: center;
    justify-content: center;
    display:flex;
    position: relative;
    border-radius: 10px;
}

.imagem-aluno {
    height: 7.5rem;
    border-radius:10px;
}

/* Hover effect para editar imagem */

.editar-imagem {
    position: absolute;
    display:none;
}

.imagem-aluno:hover{
    filter: saturate(50%)
    opacity(50%);
    cursor:pointer;
}

.imagem-aluno:hover + .editar-imagem {
    display:block;
    pointer-events: none;
}

/* Hover effect fim */



/* Agenda aluno */

.agenda-aluno {
    display:inline;
    justify-content: center;
    align-items: center;
    color: var(--cor-preto-padrao);
    /* font-weight:600; */
}

.agenda-aluno div {
    cursor: pointer;
}

.agenda-aluno a {
color: var(--cor-preto-padrao);
}

.agenda-aluno img {
    width:var(--xl-size);
    height: auto;
}


#coluna-1 {
    display:flex;
    gap:var(--l-size);
    padding: 0px 1vw;
}

#coluna-2 {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:var(--l-size);
}

/* Segmento 3*/

.links-uteis {
    color:var(--cor-verde-destaque);
}

/* Perfil estudante Fim */

.main-content-bar {
    cursor: pointer;
    background-color: var(--cor-cinza-padrao);
    font-size: var(--titulo-text);
    color: var(--cor-verde-destaque);
    border-radius: 0 10px 10px 0;
    margin: 1vh 0;
    
    padding: 0.5%;
    font-weight: bold;
    user-select: none;
    text-decoration: none;
    min-height: 2rem;
    align-items: center;
    display:flex;
    justify-content: center;
}
.main-content-bar:hover {
    text-decoration: underline;
}
/* Main Content Menu*/

.main-content > .main-content-bar  {
    background-color: red;
}

#main-content-menu {
    display: none;
    justify-content: space-between; /* Equal spacing between items */
    align-items: top; /* Vertically centers items */
    flex-wrap: nowrap; /* Prevents wrapping */
    width: 100%; /* Ensures the menu spans full width */
    max-width: 100%; /* Prevents overflow */
    padding-bottom: 20px; 
    padding-left: 20px; 
    box-sizing: border-box;
}

.main-content-menu-item {
    display: flex;
    flex-direction: column; /* Stacks the image and description vertically */
    align-items: center;
    justify-content: center;
    flex-grow: 0; /* Prevents items from growing beyond the defined width */
    flex-shrink: 0; /* Prevents items from shrinking */
    flex-basis: calc(100% / 6 - 20px); /* Set equal width for each item (divided by 6 items with margin) */
    /*margin: 10px; /* Space around each item */
    background-color: var(--cor-verde-header);
    border-radius: 10px;
}

.main-content-menu-item-img img {
    max-width: 100px; /* Adjust maximum width for responsive design */
    max-height: 300px; /* Keep image aspect ratio */
    height: auto;
    width: 50%;
    padding: var(--xxs-size);
}

.main-content-menu-item-desc {
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
}

.setinha {
    position: relative;
    left:0;
    width: 1rem;
    height: auto;
}


/* Acabou Main Content Menu*/

#section-highschool, #section-technical, #section-opt {
    flex-wrap: wrap;
    justify-content: space-evenly; /* Centers the content horizontally */


    margin-left: 6vw;
    column-gap: 2vw;
    row-gap: 2vh;
    flex-direction: row;
}



#section-opt {
    margin-bottom: 3vh;
}


#main-content-info {
    display: flex;
    justify-content: space-between; /* ensures spacing between the two columns */
    width: 100%; /* makes sure it occupies the full width of the parent */
    box-sizing: border-box; /* ensures padding/border is included in the width */
}

.main-content-info-card {
    width: 48%; /* each div takes up 48% of the space with some margin between */
    box-sizing: border-box; /* ensures padding/border doesn't affect width */
    font-size: var(--normal-text);
    min-height: 10vh;
    background-color: var(--cor-cinza-padrao);
    position: relative;
}


/* Optional styling for padding and spacing */
#main-content-info-news, #main-content-info-update {
    padding: 0;
    margin: 0;
}


#main-content-info-news {
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-preto-padrao);
    border-radius: 0px 10px 10px 0px;
}

#main-content-info-news p{
    position:relative;
    height: fit-content;

}

#main-content-info-update {
    border-radius: 10px;
}

.info-content {
    padding: 5%;
    display: flex;
    justify-content: center;
}

.info-header {
    border-radius: 10px 10px 0px  0px;
    background-color: var(--cor-verde-header);
    font-weight: bold;
    padding: var(--xs-size)
    
}

.info-content-item {
    color: var(--cor-preto-padrao);
    align-items: center;
    justify-content: center;
    /* margin-top: var(--xm-size); */
}

.info-content-item-title p{
    font-weight: bold;
    margin: var(--xs-size);
    font-size: var(--titulo-text);
}

.info-content-item-desc p{
    margin: var(--xs-size);
    font-size: var(--normal-text);
}

/* esconder local aluno */

.esconder-aluno {
    display:none;
} 

.mostrar-aluno {
    display: block;
    background-color: var(--cor-cinza-padrao);
}

/* tabela-atividades */

#tabela-atividades {
    background-color: var(--cor-cinza-padrao);
    border-radius: 10px;
    margin: 1%;
    color: rgb(0, 0, 0);
    width: 23vw;
    /* justify-self: center; */
}

#tabela-atividades-cabecalho, .tabela-atividades-atividade {
    overflow: hidden; /* Clear floats */
    padding: 2%;
}

#tabela-atividades-cabecalho {
    background-color: var(--cor-verde-header);
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    color: white;
}

.tabela-atividades-titulo-1, .tabela-atividade-data {
    float: left;
    width: 40%;
    text-align: center;
}

.tabela-atividades-titulo-2, .tabela-atividade-desc {
    float: right;
    width: 60%;
    text-align: center;
}
/* bagulho novo */

.config-perfil {
    max-width: 3vw;
    height: auto;
    margin-right: 2vw;
}




.main-content-menu-item {
    position: relative;
    cursor: pointer;
}

.main-content-menu-item-desc {
    text-align: center;
    font-weight: bold;
}

.tabela-atividade-desc-nome {
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    padding: 3px 4px;
    display: block;
    text-decoration: none;
    color: black;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.main-content-menu-item:hover .dropdown-content {
    display: block;
}


#aovivo {
    transition: all 0.5s ease-in;
    width: 100%;
}


 


 /* """REATIVO""" FIM */

 .right {
    position: absolute;
    right: 0;
    justify-content: right;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.right img {
    width: 4vh;
}

#noticias-esquerda, #noticias-direita {
    position: absolute;
    top: 50%; /* Vertically center the SVG */
    transform: translateY(-50%);
    cursor: pointer;
    padding: 1%;
    z-index: 1;
  }
  
  #noticias-esquerda {
    left: 0; /* Aligns to the inner left of the div */
  }
  
  #noticias-direita {
    right: 0; /* Aligns to the inner right of the div */
  }

#section-highschool a {
    /* text-decoration: none; */
    color: white;
}



/* Organização melhorada */

#section-technical  article, #section-highschool article,#section-opt article {
    /* flex: 1 1 100px; Allows each card to grow/shrink while maintaining a minimum width */
    min-width: fit-content; 
    box-sizing: border-box;
    min-height: fit-content;
    height: 3rem;
    flex-direction: column;
}

article > * {
    display: block;
}

article > div {
    min-width: 12vw;
    width: 14vw;
    min-height: fit-content;
    align-items: center;
}

/* Titulo inicio */



.card-titulo {
    background-color: var(--cor-verde-header);
    color: var(--cor-branco-padrao);
    border-radius: 10px 10px 0px 0px;
    padding: var(--xs-size);
    text-align: center;
    width: calc(100% - var(--xs-size)/2);
    height: 100%;
}

.card-titulo > p:first-child {
    color: var(--cor-branco-padrao);
    border-radius: 0px 10px 0px 0px;
    font-size: var(--titulo-text);
    margin: 0;
    font-weight: bold;
}

.card-titulo > p:nth-child(2) {
    color: var(--cor-branco-padrao);
    border-radius: 0px 10px 0px 0px;
    font-size: var(--normal-text);
    margin: 0;

}



/* Titulo fim */


/* Conteudo inicio */
.card-conteudo {
    font-weight: bold;
    display:inline-flex;
    padding: var(--xs-size);
    gap: 1vw;
    background-color: var(--cor-cinza-padrao);
    border-radius: 0 0 10px 10px;
    text-align: center;
    width: calc(100% - var(--xs-size)/2);
    justify-content: space-around;
    height: 100%;
    display: flex;
} 

.card-conteudo > p {
    margin: 0;
}

.card-conteudo > p:first-child {
    text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.6);
    font-size: var(--normal-text);
}

.card-conteudo > p:nth-child(2) {
    color: var(--cor-verde-destaque);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nota {
    color: white;
    border-radius: var(--xxs-size);
    padding: 1.5%;
}

/* Conteudo fim */

#mobile-header {
    display:none;
}

#cog-mob {
    display: none;
    width: 4vh;
}





/* Reativo */
@media (min-width: 1080px) {
    #section-highschool, #section-technical, #section-opt {
        margin-left: 6vw;
    }
    article > div{
        max-width: 16vw;
    }
}


@media (max-width: 850px) {
    /* .dados-institucionais-aluno {
        display: none;
    } */

    #perfil-estudante {
        padding: 0;
    }

    #main-content {
        width: 70%;
    }

    
}


@media (max-width: 700px) {
    .right img {
        height: auto;
        max-width: fit-content;
        margin-right: 3vh;
    }

    .imagem-aluno:hover{
        filter: none;
        opacity: 1;
    }
    
    .imagem-aluno:hover + .editar-imagem {
        display:none;
        pointer-events: none;
    }
    /* .dados-institucionais-aluno-dados {
        display: none;
    } */
    #mobile-header {
        display: block;
        height: 18rem;
        background-color: var(--cor-verde-header);
        margin-top: -2vh;
    }
    #main-content-menu {
        max-width: 100vw;
        width: 100vw;
        padding-left: 0;
        justify-content: space-evenly;
    }
    :root{
        font-size: 14px;
        --titulo-text: 16px;
        --normal-text: 14px;
    }
    #main-content {
        width: 100%;
    }
    
    #main-content-info {
        flex-wrap: wrap;
        width: 100vw;
    }

    article {
        width: 70vw;
    }
    article > div {
        width: 100%;
        max-width: 100%;
        height: 5.5vh;
    }

    #tabela-atividades {
        display: none;
    }
    .main-content-bar {
        width: 99vw;
        border-radius: 0;
    }

    #side-menu {
        /* display: none; */
        right: auto;
        width: 100%;
        min-height: fit-content ;
        justify-content: center;
    }

    #perfil-estudante {
        flex-direction: row;
        /* box-shadow: black 1px 1px 3px; */
    }


    #section-highschool, #section-technical, #section-opt {
        width: 100vw;
        margin-left: 0;
    }

    .card-conteudo > p {
        font-size: 16px;
        color: white;
    }

    .dropdown-content2 {
        right: 0;
        left: auto;
    }


}


@media (min-width: 601px) and (max-width: 1280px) {
    #section-highschool {
        margin-left: 0;
    }
    article > div{
        width: 16vw;
    }
    

}

@media (max-width: 510px) {
    .right > img {
        display: none;
    }
    #perfil-estudante {
        flex-direction: column;
    }
    #side-menu {
        /* display: none; */
        /* justify-content: space-around; */
    }
    #cog-mob {
        display: block;
    }
}

@media (max-width: 400px) {
    .config-perfil[src*="Sair"] {
        margin-right: 1vw;
    }
    #side-menu {
        top: 8%;
    }
}

@media (max-width: 450px) {

    #mobile-header {
        height: 12rem;
    }
}

@media (max-width: 380px) {
    #mobile-header {
        height: 15rem;
    }
}
@media (max-width: 350px) {
    #mobile-header {
        height: 17rem;
    }
}


/* Eadge case */

@media (min-width:361px) and (max-width: 400px) {
    #perfil-estudante {
        margin-right: 10%; 
    }
}


/* Ajustes */

.segmentos-perfil-estudante:first-of-type {
    cursor: pointer;
    border-bottom: dashed rgba(28, 28, 28, 0.4);
}

.horario {
    position: absolute;
    left: 1rem;
    font-size: calc(var(--normal-text)/1.2);
    text-decoration: underline;
}

.main-content-bar > p {
    margin: 0;
}