

header{ /*Todo header é igual.*/
    background-color: var(--cor-verde-header);
    text-align: center;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
}

#if-logo {
    width: 2vw;
    position:absolute;
    left:1vw;
}


.header-sigaa-h1 {
    margin:0;
    padding: 0.5vh 0 0 0;
    font-size: 1.3em;
}

.header-sigaa-h3 {
    margin:0;
    padding: 0.5vh 0 0 0;
    font-size: 1em;
}


body {
    margin:0;
}