:root{
    /*Usado em Header e locais de exposição*/
    --cor-verde-header: #017E01;
    /*Usado para locais desmarcados*/
    --cor-verde-acizentado: #739570;
    /* Cor Branco padrão */
    --cor-branco-padrao: #ECF3EC;
    /* Cor verde destaques */
    --cor-verde-destaque: #2F9E41;
    /* Cor Cinza padrão */
    --cor-cinza-padrao: #D9D9D9;
}


* {/* Todos as coisas estão com borda em baixo, e com a fonte Open sans, como deve ser */
    border-radius: 0 0 10px 10px;
    font-family: "Open Sans", sans-serif;
    color: var(--cor-branco-padrao);
}

a{
    text-decoration: none;
}