:root{
    /* Cores Inicio */
    /*Usado em Header e locais de exposição*/
    --cor-verde-header: #017E01;
    /*Usado para locais desmarcados*/
    --cor-verde-acizentado: #739570;
    /* Cor Branco padrão */
    --cor-branco-padrao: #ECF3EC;
    /* Cor verde destaques */
    --cor-verde-destaque: #2F9E41;
    /* Cor Cinza padrão */
    --cor-cinza-padrao: #D9D9D9;
    /* Cor Preta texto não-editavel por aluno */
    --cor-preto-padrao: #444444;

    /* Cores Final */


    /* Tamanho Inicio */

    --xxs-size: 0.25em; /*4px*/
    --xs-size: 0.50em; /*8px*/
    --s-size: 0.75em; /*12px*/
    --m-size: 1em; /*16px*/
    --xm-size: 1.25em; /*20px*/
    --xxm-size: 1.50em; /*24px*/

    /* Maior espaçamento */
    --l-size: 2.5em; /*40px*/
    --xl-size: 3.75em; /*60px*/

    /* Tamanho Fim */
}

@media (max-width: 1660px) {
    :root{
    font-size: 16px;
    --titulo-text: 16px;
    --normal-text: 12px;
    }}

    @media (max-width: 1280px){
        :root{
        font-size: 12px;
        --titulo-text: 12px;
        --normal-text: 10px;
    }}


* {/* Todos as coisas estão com borda em baixo, e com a fonte Open sans, como deve ser */
    font-family: "Open Sans", sans-serif;
    
}

body {
    color: var(--cor-branco-padrao);
    border-radius: 0 0 10px 10px;
}

a{
    text-decoration: underline;
}
.text-centered {
    text-align: center;
}