@import url(../../padrao.css);

/*CARDS*/
.nota-card {
    font-size: 1rem;
    background-color: var(--cor-cinza-padrao);
    width: 16vw;
    height: 13vh;
    border-radius: 10px;
    overflow: auto;
}
.nota-titulo {
    background-color: var(--cor-verde-destaque);
    text-align: center;
    color: var(--cor-branco-padrao);
    border-radius: 0px 10px 0px 0px;
}
.nota-titulo-materia {
    font-weight: bold;
}
.nota-conteudo-local {
    color: var(--cor-branco-padrao);
    padding: 0 2rem;
}
.nota-conteudo-nota-texto {
    color: var(--cor-verde-destaque);
}
.nota-conteudo-nota-valor {
    color: var(--cor-branco-padrao);
    border-radius: 10px;
    background-color: var(--cor-cinza-padrao);
    display: inline-block;
    padding: 1px 3px;
}
.nota-conteudo {
    font-weight: bold;
    display:inline-flex;
    justify-self: center;
    text-align: center;
    padding: 2vh 0;
}
/*CARDS END*/