@import url(../../padrao.css);

header {
    margin-bottom: 2vh;
}

#main-content {
    float: left;
    width: 75%;
}

#side-menu {
    float: right;
    width: 25%;
    }

/* card pequeno */
.nota-card {
    font-size: var(--titulo-text);
    background-color: var(--cor-cinza-padrao);
    width: 17.3em;
    height: 8em;
    border-radius: 10px;
    overflow: none;
    
}
.nota-titulo {
    background-color: var(--cor-verde-destaque);
    color: var(--cor-branco-padrao);
    border-radius: 10px 10px 0px 0px;
    padding: var(--xs-size);
}

.nota-titulo-professor {
    background-color: var(--cor-verde-destaque);
    color: var(--cor-branco-padrao);
    border-radius: 0px 10px 0px 0px;
    font-size:var(--normal-text);
}

.nota-titulo-materia {
    font-weight: bold;
}
.nota-conteudo-local {
    color: var(--cor-branco-padrao);
}
.nota-conteudo-nota-texto {
    color: var(--cor-verde-destaque);
}
.nota-conteudo-nota-valor {
    color: var(--cor-branco-padrao);
    border-radius: var(--xxs-size);
    display: inline-block;
    padding: 0.2rem 0.2rem;
}
.nota-conteudo {
    font-weight: bold;
    display:inline-flex;
    justify-self: center;
    padding: 01em 0.5em;
    gap: var(--l-size);   
}
/* card pequeno fim */


/* Perfil estudante */
/* Segmentos Perfil estudante */
.segmentos-perfil-estudante {
    display:inline-flex;
}

/* Ai meu deus o css é muito estranho, no 3° segmneto q só tem link é tudo estranho usando inline-flex, por isso vai virar block */

.segmentos-perfil-estudante:nth-of-type(3) {
    display:block;
    text-align: center;
    padding: var(--m-size) 0;
}

/* Segmentos Perfil Fim */

#perfil-estudante {
    background-color: var(--cor-cinza-padrao);
    right: 1%;
    z-index: 1;
    display:flex;
    flex-direction: column;
    padding: var(--s-size);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: var(--titulo-text);
    margin: 0 15px;
    row-gap: 5vh;
}


.dados-institucionais-aluno-dados {
    background-color: var(--cor-verde-destaque);
    list-style-type: none;
    width: fit-content;
    padding: 1rem;
    border-radius:10px;
}   

.dados-institucionais-aluno-imagem {
    align-items: center;
    justify-content: center;
    display:flex;
    position: relative;
    border-radius: 10px;
}

.imagem-aluno {
    height: 7rem;
    border-radius:10px;
}

/* Hover effect para editar imagem */

.editar-imagem {
    position: absolute;
    display:none;
}

.imagem-aluno:hover{
    filter: saturate(50%)
    opacity(50%);
    cursor:pointer;
}

.imagem-aluno:hover + .editar-imagem {
    display:block;
    pointer-events: none;
}

/* Hover effect fim */



/* Agenda aluno */

.agenda-aluno {
    display:inline;
    justify-content: center;
    align-items: center;
    color: var(--cor-preto-padrao);
    /* font-weight:600; */
}

.agenda-aluno img {
    width:var(--xl-size);
    height: auto;
}


#coluna-1 {
    display:flex;
    gap:var(--l-size);
    padding: 0px 1vw;
}

#coluna-2 {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:var(--l-size);
}

/* Segmento 3*/

.links-uteis {
    color:var(--cor-verde-destaque);
}

/* Perfil estudante Fim */


/* Main Content Menu*/

#main-content-menu {
    display: flex;
    justify-content: space-between; /* Equal spacing between items */
    align-items: top; /* Vertically centers items */
    flex-wrap: nowrap; /* Prevents wrapping */
    width: 100%; /* Ensures the menu spans full width */
    max-width: 100%; /* Prevents overflow */
    padding-bottom: 20px; 
    padding-left: 20px; 
    box-sizing: border-box;
}

.main-content-menu-item {
    display: flex;
    flex-direction: column; /* Stacks the image and description vertically */
    align-items: center;
    justify-content: center;
    flex-grow: 0; /* Prevents items from growing beyond the defined width */
    flex-shrink: 0; /* Prevents items from shrinking */
    flex-basis: calc(100% / 6 - 20px); /* Set equal width for each item (divided by 6 items with margin) */
    /*margin: 10px; /* Space around each item */
    background-color: var(--cor-verde-header);
    border-radius: 10px;
}

.main-content-menu-item-img img {
    max-width: 100px; /* Adjust maximum width for responsive design */
    height: auto; /* Keep image aspect ratio */
    padding: var(--xxs-size);
}

.main-content-menu-item-desc {
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
}



/* Acabou Main Content Menu*/

#main-content-info {
    display: flex;
    justify-content: space-between; /* ensures spacing between the two columns */
    width: 100%; /* makes sure it occupies the full width of the parent */
    box-sizing: border-box; /* ensures padding/border is included in the width */
}

.main-content-info-card {
    width: 48%; /* each div takes up 48% of the space with some margin between */
    box-sizing: border-box; /* ensures padding/border doesn't affect width */
    font-size: var(--normal-text);
    height: 13.3em;
    background-color: var(--cor-cinza-padrao);
    position: relative;
}


/* Optional styling for padding and spacing */
#main-content-info-news, #main-content-info-update {
    padding: 0;
    margin: 0;
}


#main-content-info-news {
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--cor-preto-padrao);
    border-radius: 0px 10px 10px 0px;
}

#main-content-info-news p{
    position:relative;
    height: fit-content;

}

#main-content-info-update {
    border-radius: 10px;
}

.info-content {
    padding: 10px;
}

.info-header {
    border-radius: 10px 10px 0px  0px;
    background-color: var(--cor-verde-header);
    font-weight: bold;
    padding: var(--xs-size)
    
}

.info-content-item {
    color: var(--cor-preto-padrao);
    align-items: center;
    justify-content: center;
    margin-top: var(--xm-size);
}

.info-content-item-title {
    font-weight: bold;
    font-size: var(--titulo-text);
}

.info-content-item-desc p{
    margin: var(--xs-size);
}