:root {
    /* Cores Inicio */
    /*Usado em Header e locais de exposição*/
    --cor-verde-header: #282828;
    /*Usado para locais desmarcados*/
    --cor-verde-acizentado: #fcf431;
    /* Cor Branco padrão */
    --cor-branco-padrao: #ECF3EC;
    /* Cor verde destaques */
    --cor-verde-destaque: #9d59d2;
    /* Cor Cinza padrão */
    --cor-cinza-padrao: #D9D9D9;
    /* Cor Preta texto não-editavel por aluno */
    --cor-preto-padrao: #444444;
    /* Cores Final */
}